.inputs-wrapper{
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
}

.form-wrapper{
  width: 300px;
  height: 500px;
  padding: 30px;
  border-radius: 50px;
  border-radius: 37px;
background: #5b5252;
box-shadow:  31px 31px 61px #544b4b,
             -31px -31px 61px #625959;
}